<script setup lang="ts">
  import TheHeader from "@/modules/common/components/TheHeader.vue";
</script>

<template>
  <TheHeader />
  <main class="app-layout-default-main p-4">
    <slot />
  </main>
</template>

<style lang="scss">
  .app-layout-default-main {
    margin-top: calc($header-height);
    min-height: calc(100vh - $header-height);
  }
</style>
